<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event Directory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
    <div class="container">
      <h3>Event Directory</h3>
      <hr>
      <!-- Add a Button-->
      <a th:href="@{/events/showFormAddEvent}"
        class="btn btn-primary btn-sm mb-3">Créer un évènement</a>
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Date</th>
            <th>Heure de Debut</th>
            <th>Heure de fin</th>
            <th>Lieu</th>
            <th>Commentaire</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="events : ${listEvents}">
            <td th:text="${events.id}"></td>
            <td th:text="${events.titre}"></td>
            <td th:text="${events.eventDate}"></td>
            <td th:text="${events.heureDebut}"></td>
            <td th:text="${events.heureFin}"></td>
            <td th:text="${events.lieu}"></td>
            <td th:text="${events.commentaire}"></td>
            <!--Add update button Link-->
            <td>
              <a th:href="@{/events/showFormForUpdate(eventId=${events.id})}"
                class="btn btn-info btn-sm">Update</a>

              <!-- Add delete button link-->
              <a th:href="@{/events/delete(eventId=${events.id})}"
                class="btn btn-danger btn-sm"
                onclick="if(!(confirm('Veuillez vous supprimer cet id?'))) return false">Delete</a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
</body>
</html>